@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
* {
  box-sizing: border-box;
}
body {
  background-color: #f1ebe7;
  min-width: 150px;
}

.navbar {
  border: 1px rgb(255 96 0 / 45%) solid;
  padding: 10px;
}
.form-control {
  border-color: #000;
}
h2 {
  font-family: "Playfair Display", serif;
}

.token {
  width: 30px;
  margin: 0 5px;
}
.token img {
  width: 100%;
}
.padd-8 {
  padding: 8px;
}
.address {
  font-size: 12px;
  color: rgb(179, 176, 176);
  margin: 0 10px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

hr {
  width: 90%;
  background-color: #f45491;
}

.footer > .col-md-2,
.col-md-1 {
  justify-content: center;
}
