*{
    font-family: 'Playfair Display', serif;
}
body{
    background-color: #f8d196;
}

.navbar{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px rgb(224, 147, 31);
}
.f-container{
    width:50%;
}

